@import url(./menu_item/menu_item.css);
.menu {
    margin-top: -0.3%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
}